body {
  background-color:#B4E0F5;
}
.menu-item {
  margin-top: 5px;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  background-color: #BFDAA7;
}

.menu-item-div {
  padding-left: 20px;
  padding-right: 10px;
}

.dataset-tab {
 
}

.column-small {
  float: left;
  width: 20%;
  padding-right: 5px;
  margin-right: 5px;
}
.column-medium {
  float: right;
  width: 40%;
  margin-left: 5px;
}
