body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #324252;

}


.login-container-col {
  float: left;
  width: auto;
  display: flex;
}

.login-container-row::after {
  display: flex;
  content: "";
  display: table;
  clear: both;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column-small {
  float: left;
  width: 20%;
}
.column-medium {
  float: right;
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: flex;
  clear: both;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
}
.container {
	width: 100%;
	height: 100%;
}
nav {
	position: fixed;
	display: flex;
	align-items: flex-start;
	width: 20%;
	height: 100%;
	background-color: #111;
}
main {
	position: fixed;
	right: 0;
	width: 80%;
	height: 100%;
	background-color: #fff;
	overflow: auto;
	padding: 40px;
}
h1 {
	font-weight: bold;
	margin-bottom: 50px;
	font-size: 55px;
	text-align: center;
}
p {
	margin-bottom: 20px;
	line-height: 26px;
}
p::first-letter {
	font-size: 200%;
	font-weight: bold;
}
li, ul label.title, ul, a {
	width: 100%;
	color: #FFF;
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	display: block;
	font-weight: bold;
}
ul label {
	height: 35px;
}
ul li{
	height: 35px;
	overflow: hidden;
	transition: all .3s;
}
li {
	display: block;
	background-color: #363636;
}
label.title {
	font-size: 14px;
	background: linear-gradient(#111, #2f2f2f);
	padding: 10px 15px;
	cursor: pointer;
  transition: all .25s;
}
a{
	font-size: 12px;
	text-decoration: none;
	color: #FFF;
	display: block;
	padding: 10px 25px;
	transition: all .25s;
}
a:hover {
	background-color: #444;
  box-shadow: inset 5px 0px 0px 0px #fff;
}
label:hover {
	text-shadow: 0px 0px 10px #fff;
}
input[type="radio"] {
	display: none;
}
#edit:checked + li, #archive:checked + li, #tools:checked + li, #preferences:checked + li {
	height: 179px;
}
i {
	margin-right: 12px;
}
@media screen and (max-width: 600px){
	nav {
		width: 100%;
		position: relative;
	}
	main {
		width: 100%;
		position: relative;
	}
}
